.unauth-navbar-container {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 5vh;
    background-color: white;
}

.unauth-navbar-links-container {
    padding-left: 40%;
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.unauth-navbar-link {
    text-decoration: none;
}