.unauth-navbar-container {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 5vh;
    padding-top: 1vh;
}

.unauth-navbar-links-container {
    padding-left: 40%;
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.unauth-navbar-link {
    text-decoration: none;
    cursor: pointer;
}

.navbar-logo img {
    padding-top: 1vh;
    width: 3vh;
    height: 3vh;
    min-height: 40px;
    min-width: 40px;
}